:root {
  --text-color: #FFFFFF; 
  --primary-color: #01A78A; 
  --second-color: #A62F43; 
  --third-color: #110E13; 
  --font: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Lato', sans-serif;
}

main {
  background-color: var(--second-color);

}

header {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
}

header nav {
  display: flex;
  justify-content: center;
}

header nav .nav-right-section {
  width: 25rem;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
}

.nav-right-section a:hover{
  color: var(--second-color);
}
/* Design Post Inicio */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin: 20px 0 15px 10px;
}

.card-right {
  padding: 20px;
  margin-top: 20px;
  background-color:var(--primary-color);
  color: var(--text-color);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Design Post Iermina */


.footer-pie {
  width: 100vw;
  height: 4rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: var(--primary-color);
}

.footer-ul {
  display: flex;
  list-style: none;
}

.footer-ul .footer-li {
  margin: .5rem;
}

footer .footer-li a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.4rem;
}

.footer-li a:hover {
  color: var(--second-color);
}