:root {
  
  --primary-color: #0f3057; 
  --second-color: #00587a; 
  --third-color: #008891; 
  --text-color: #e7e7de; 
  --font: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Lato', sans-serif;
}

main {
  background-color: #c7c2c2;

}

header {
  width: 100%;
  padding:10px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px 0  rgba(194, 188, 172, 0.16);
}

header div {
  display: flex;
}

header div a {
  margin: 0 auto;
  padding: 5px;
}

header div a img {
  width: 14px;
  height: 16px;
}

header div a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

header div a:hover{
  color: whitesmoke;
}
/* Design Post Inicio */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  display: flex;
  justify-content: center;
} 

.fakeimg img {
  width: 70%;
  height: 250px;
}
/* Add a card effect for articles */
.card {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  background-color: white;
}

.card .article-img {
  display: inline-block;
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  background-image: url(../imagnes/pexels-karolina-grabowska-5980889.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .article-img-two {
  display: inline-block;
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  background-image: url(../imagnes/google.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .article-img-three {
  display: inline-block;
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  background-image: url(../imagnes/matrix.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-right {
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 3%;
  color: var(--text-color);
  background-image: url('../imagnes/anas-alshanti-feXpdV001o4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Design Post Termina */

.card-right .card--intro--descrip {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  color: whitesmoke;
}

.card-right .product--card-title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 10px;
  color: whitesmoke;
}

.card-right-follow {
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 3%;
  color: var(--text-color);
  background-image: url('../imagnes/pexels-pixabay-158826.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-right-follow ul {
  padding: 30px;
}

.card-right-follow h3 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8rem;
  padding-left: 13%;
  margin-bottom: 10px;
  color: whitesmoke;
}

.card-right-follow ul li {
  list-style: none;
  margin-bottom: 10px;
}

.card-right-follow ul li img {
  width: 25px;
  height: 25px;
  margin-right: 35px;
}

.card-right-follow ul li a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-decoration: none;
  color: white;
}





.footer-pie {
  width: 100vw;
  height: 4rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: var(--primary-color);
}

.footer-ul {
  display: flex;
  list-style: none;
}

.footer-ul .footer-li {
  margin: .5rem;
}

footer .footer-li a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.4rem;
}

.footer-li a:hover {
  color: var(--second-color);
}