:root {
  --text-color: #F6D86B; /*RGB 246,216,107 */
  --primary-color: #A70267; /*RGB 167,2,103  */
  --second-color: #339194; /*RGB 51,145,148 */
  --third-color: #FB6B41; /*RGB 251,107,65*/
  --fourth-color: #F10C49; /*RGB 241,12,73 */
  --font: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Lato', sans-serif;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: var(--primary-color);
}

main {
  width: 100vw;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
}

.nav-ul {
  display: flex;
}

.nav-li {
  list-style: none;
  padding: .5rem;
}

.nav-li a {
  color: var(--text-color);
  text-decoration: none;
}

.article-h2 {
  padding: .1rem;
  text-align: center;
  color: var(--text-color);
  background-color: var(--third-color);
}

.article-h3 {
  text-align: center;
  color: var(--text-color);
  background-color: var(--third-color);
}
.section-about {
  background-color: var(--second-color);
}

.section-blog {
  display: flex;
  background-color: var(--second-color);
}

.section-rrss {
  background-color: var(--second-color);
}

.section-blog {
  display: flex;
}

.section-blog .article-blog{
  height: 5rem;
  flex-basis: 5rem;
  flex-grow: 1;
  padding: .1rem;
  flex-wrap: wrap;
}

span {
  color: whitesmoke;
}


footer {
  width: 100vw;
  height: 15vh;
  padding-top: .1rem;
  background-color: var(--fourth-color);
  display: flex;
  justify-content: center;
  position: sticky;
}

.footer-ul {
  display: flex;
  list-style: none;
}

.footer-ul .footer-li {
  color: var(--text-color);
  padding: .5rem;
}