* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  background-color: #01A78A;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: #FFFFFF;
  padding: 5px;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: #A62F43;
}

.main-nav__item a:active {
  color: #110E13;
}
