:root {
  --text-color: #F6D86B; /*RGB 246,216,107 */
  --primary-color: #A70267; /*RGB 167,2,103  */
  --second-color: #339194; /*RGB 51,145,148 */
  --third-color: #FB6B41; /*RGB 251,107,65*/
  --fourth-color: #F10C49; /*RGB 241,12,73 */
  --font: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Lato', sans-serif;
}

header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #F6D86B;
  background-color: var(--primary-color);
}

header nav {
  display: flex;
  justify-content: center;
}

header nav .nav-right-section {
  width: 25rem;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #F6D86B;
  text-decoration: none;
}

main {
  width: 100%;
  height: auto;
  
}

main .main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main h2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6D86B;
  text-decoration: none;
  background-color: #A70267;
  border-bottom: 1px solid #F6D86B;
  border-left: 1px solid #F6D86B;
}

main .main-left section {
  background-color: #FB6B41;
  width: auto;
}

.main-left section article p {
  color: whitesmoke;
}

main .main-center section {
  width: auto;
  background-color: #339194;
  border-left: 1px solid #F6D86B;
  border-right: 1px solid #F6D86B;
}

.main-center section article p {
  color: whitesmoke;
}

main .main-right section {
  width: auto;
  background-color: #F10C49;
}

.main-right section article p {
  color: whitesmoke;
}

main .block-one {
  width: 100%;
  height: 15rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F6D86B;
  background-color: #A70267;
  display: flex;
}

.block-one, .block-two h3 {
  color: #FB6B41;
}

main .block-two {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F10C49;
  background-color: #F6D86B;
}

footer {
  width: 100vw;
  height: 4rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: #A70267;
  border-top: 0.1rem solid #F6D86B;
}

.footer-ul {
  display: flex;
  list-style: none;
}

.footer-ul .footer-li {
  margin: .5rem;
}

footer .footer-li a {
  text-decoration: none;
  color: #F6D86B;
  cursor: pointer;
}

